<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183579199507-bl1rlnflfe80vdovfl0i064gl2r0gbst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183579199507-bl1rlnflfe80vdovfl0i064gl2r0gbst</string>
	<key>API_KEY</key>
	<string>AIzaSyCZtHved0wxZWtArwKX4pFWtIXyixMZB-U</string>
	<key>GCM_SENDER_ID</key>
	<string>183579199507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petegels.MyPRs</string>
	<key>PROJECT_ID</key>
	<string>myprs-2fc25</string>
	<key>STORAGE_BUCKET</key>
	<string>myprs-2fc25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:183579199507:ios:17d630cbc5175f20</string>
	<key>DATABASE_URL</key>
	<string>https://myprs-2fc25.firebaseio.com</string>
</dict>
</plist>
